@import 'src/assets/styles/variables.scss';

.main {
  margin-top: $h-menu-admin;
  margin-left: $w-menu-admin;

  .section {
    display: flex;
    align-items: center;
    padding: 3rem 5rem;

    &-title {
      margin-right: 3rem;
      font-size: 1.4em;
      font-weight: 700;
      max-width: max-content;
      color: $c-secondary;
    }

    &-button {
      padding: .7rem 1rem;
      color: $c-primary-darkest;
      background: $c-secondary-light;
      border: none;
      border-radius: 3px;
    }
  }

  .articles {
    margin: 0 5rem;

    tr {
      border-bottom: 2px solid $c-primary-darker;

      th, td {
        padding: 1rem 2rem;
      }
    }

    thead {
      text-align: left;

      .articles-head {
        border-color: $c-primary;
      }
    }

    tbody {
      .articles-item-cel--action {
        display: flex;
        flex-direction: row;

        .action {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:hover {
            color: $c-secondary;
          }

          &--edit {
            color: $c-neutral-light;
            margin-right: 1rem;

            .icon-edit {
              transform: rotate(45deg);
            }
          }

          span {
            display: block;
          }
        }
      }
    }
  }
}
