
@import '../../assets/styles/variables.scss';


.main {
  padding: 2rem 10%;

  .post-details {
    margin: 3rem 0 2rem;

    &-title {
      font-size: 1.8em;
      font-weight: 600;
      color: $c-neutral-lightest;
      padding: 1rem 0;
      line-height: 2.1rem;
    }

    &-date {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      
      &-icon {
        width: 25px;
      }

      &-text {
        margin-left: .5rem;
        font-size: 1.2em;
        color: $c-secondary-lighter;
      }
    }

    &-content {
      margin: 1rem 0;
      font-size: 1.2em;
      color: $c-secondary-lighter;
      line-height: 1.4rem;

      strong {
        color: $c-secondary-lightest;
        font-weight: 600;
      }

      a {
        color: $c-secondary-light;
        font-weight: 600;
        
        &:focus,
        &:hover {
          border-bottom: 1px solid $c-secondary-light;
        }
      }

      pre {
        padding: .5rem .6rem;
        font-size: .85em;
        color: $c-neutral-lightest;
        background: $c-primary-dark;
        border: 1px solid $c-primary;

        code {
          display: block;
          padding: 0 .5rem;
          border-left: 3px solid $c-secondary-opa-50;
        }
      }
    }
  }
}
