@import 'src/assets/styles/variables.scss';

.admin-header {

  &-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $w-menu-admin;
    background: $c-tertiary-dark;

    &-title {
      font-size: 1.3em;
      font-weight: 700;
      padding: 1.3rem $p-lr-menu-admin calc(1.3rem + 5px);
      color: $c-neutral-light;
      border-right: 1px solid $c-primary-darkest;
    }

    &-subtitle {
      font-size: 1.15em;
      padding: 1.3rem $p-lr-menu-admin;
      color: $c-secondary-dark;
      background: $c-tertiary-darker;
    }

    .nav {
      margin-top: 1rem;

      &-item {
        &-link {
          display: block;
          padding: 1rem $p-lr-menu-admin;

          &:hover {
            color: $c-primary-darkest;
            background: $c-secondary-dark;
          }
        }
      }
    }
  }

  &-breadcrumb {
    position: fixed;
    top: 0;
    right: 0;
    left: $w-menu-admin;
    padding: 1.5rem 2rem;
    color: $c-primary;
    background: $c-tertiary-dark;
    border-bottom: 5px solid $c-secondary-dark;
  }
}
