@import 'src/assets/styles/variables.scss';

.main {

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    transform: translateY(-50%) translateX(-50%);

    &-title {
      margin: 2rem 0;
      padding: 1rem;
      font-size: 1.5em;
      text-align: center;
      line-height: 1.5em;
    }

    &-label {
      display: block;
      align-self: flex-start;
      margin: .3rem 1.1rem;
      font-size: .9em;
      color: $c-secondary-light;
    }

    &-field,
    &-group-field {
      margin: 0 1rem 1rem;
      padding: .7rem 1rem;
      background: $c-secondary-lighter;
      border: none;
      border-radius: 3px;
    }

    &-group {
      position: relative;

      &-display {
        position: absolute;
        top: 9px;
        right: 25px;
        cursor: pointer;
      }
    }

    &-button {
      margin-top: 1rem;
      padding: .7rem 1rem;
      color: $c-primary-darkest;
      background: $c-secondary-light;
      border: none;
      border-radius: 3px;
    }
  }
}
