
// Colors
$c-primary-darkest: #2F343A;
$c-primary-darker: #3D4249;
$c-primary-dark: #4B525A;
$c-primary: #676D75;

$c-secondary-darker: #5D8723;
$c-secondary-dark: #86C232;
$c-secondary: #A5D267;
$c-secondary-light: #B6DA84;
$c-secondary-lighter: #D7DECC;
$c-secondary-lightest: #EAF0E1;

$c-neutral-dark: #333333;
$c-neutral-light: #F2F2F2;
$c-neutral-lightest: #FFFFFF;

$c-tertiary-darker: #353A3F;
$c-tertiary-dark: #3D4249;

// Colors with opacity
$c-primary-opa-50: rgba(61, 66, 73, 0.5);
$c-secondary-opa-50: rgba(183, 219, 133, .5);

// Font size
$fs-regular: 16px;

// Block size
$h-nav: 70px;

  // ADMIN PANEL
  $h-menu-admin: 60px;
  $w-menu-admin: 300px;

// Padding

  // ADMIN PANEL
  $p-lr-menu-admin: 2.5rem;
