
// Colors
$c-primary-darkest: #2F343A;
$c-primary-darker: #3D4249;
$c-primary-dark: #4B525A;
$c-primary: #676D75;

$c-secondary-darker: #5D8723;
$c-secondary-dark: #86C232;
$c-secondary: #A5D267;
$c-secondary-light: #B6DA84;
$c-secondary-lighter: #D7DECC;
$c-secondary-lightest: #EAF0E1;

$c-neutral-dark: #333333;
$c-neutral-light: #F2F2F2;

// Font size
$fs-regular: 16px;

$h-nav: 70px;
