
@import 'src/assets/styles/reset.scss';
@import 'src/assets/styles/variables.scss';

body {
  font-family: 'Bralow', sans-serif;
  font-size: $fs-regular;
  color: $c-neutral-light;
  background: $c-primary-darkest;

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0 6rem;
    padding: 3rem 10%;
    color: $c-primary;
    background: $c-primary-darker;
  }
}
